@use "./variables" as *;
@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
@mixin flex($dir: row, $just: center, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
}
