@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.post-form {
  width: 80%;
  height: 50%;
  @include flex(column, flex-start, flex-end);
  gap: 0.5rem;
  &__input {
    border: 1px solid #ccc;
    border-radius: 2rem;
    width: 100%;
    min-height: 30px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border 0.1s, box-shadow 0.1s;
    padding: 0.625rem;
    font-size: 1rem;
    &:focus {
      outline: none;
    }

    &:focus-within {
      box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.1);
    }

    &--textarea {
      min-height: 100px;
    }
  }

  &__textarea {
  }
}

.post-form-cta {
  @include flex(column);
  width: 100%;
  gap: 1rem;
  &__button {
    background-color: $cta-green;
    padding: 0.5rem;
    // border: 1px solid black;
    border-radius: 1rem;
    min-height: 20px;
    width: 100%;
    max-width: 100px;
    @include flex;
    @include cta-hover;
    @include cta-active;
  }
}
